<strong>Obrigado por escolher o Gympoint!</strong>
<p>{{ student }}, abaixo estão as informações da sua mátricula:</p>
<p>
  Nº da matrícula: <strong style="color: #EE4D64;">{{ registration }}</strong><br />
  Plano: <strong style="color: #EE4D64;">{{ plan }}</strong><br />
  Valor/Mensal: <strong style="color: #EE4D64;">R${{ value }}</strong><br />
  Valor/Total: <strong style="color: #EE4D64;">R${{ totalValue }}</strong><br />
  Data de ínicio: <strong style="color: #EE4D64;">{{ startDate }}</strong><br />
  Data de término: <strong style="color: #EE4D64;">{{ endDate }}</strong><br />
</p>
<p>Seja muito bem vindo!</p>
